<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="WellManager.master.vb" Inherits="TalismanEnergy.WIM.iWIM.WellManager" %>
<%@ Register TagPrefix="ComponentArt" Namespace="ComponentArt.Web.UI" Assembly="ComponentArt.Web.UI" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>iWIM</title>
    <link href="WellManager.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <div id="Banner" style="z-index: 100; left: 0px; position: absolute; top: 0px; width: 100%; background-image: url(images/iWIMbannerExt.png); background-repeat:  repeat-x" >
        <asp:Image ID="imgBanner" runat="server" ImageUrl="~/images/iWIMbanner.png"
            Style="z-index: 101; left: 0px; position: relative; top: 0px;" />
        
    </div>
    <div  style=" z-index: 100;  position: absolute; top: 64px; left:0px; width: 100%; height: 30px; background-color: Window;">
          <div 
                style="z-index: 100; left: 0px; position: absolute; top: 0px; width: 100%;  vertical-align: middle;
                        min-height:40px; border:0">
            <span style=" z-index: 100;  position: absolute; top: 3px; left:3px; vertical-align: middle;">
                <asp:Button ID="ButtonHome" Text="Home" PostBackUrl="~/Default.aspx" runat="server" EnableTheming="true" Font-Bold="true" Height="25px" Width="90px" ToolTip=""/>
                <asp:Button ID="ButtonSearch" Text="Search" PostBackUrl="~/SearchWell.aspx" runat="server" EnableTheming="true" Font-Bold="true" Height="25px" Width="90px" ToolTip="Search in DataFinder"/>
                <asp:Button ID="ButtonCreate" Text="Create" PostBackUrl="~/CreateWell.aspx" runat="server" EnableTheming="true" Font-Bold="true" Height="25px" Width="90px" ToolTip="Create Well"/>
            </span>  
          </div>
    </div>
    <div style="left: 0px; position: absolute; top: 84px; width: 98%; ">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
